.order-container {
  margin-left: 5%
}
.module-card {
  width: 80%;
  padding-top: 80%; /* 1:1 Aspect Ratio */
  position: relative;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.3s, background-color 0.3s;
}

.module-card:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.1);
}

.module-card > .MuiCardContent-root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.module-card .MuiTypography-root {
  font-size: 1.2rem%; /* Larger font size */
}

.module-card .MuiSvgIcon-root {
  font-size: 10px; /* Larger icon size */
}
